DEBUG=True
SECRET_KEY=django-insecure-l^=yzz9h=!^u58zlhqd5@+^z8^3b187wv@nogfye8acb#iq5rk
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_NAME=uvsnvdio
DATABASE_USER=uvsnvdio
DATABASE_PASSWORD=6GbMN_qs9Yaz0rNZrW0gwAS7ZrofwWZJ
DATABASE_HOST=mahmud.db.elephantsql.com
DATABASE_PORT=5432